/* cards style */
.table {
  max-width: 960px;
  margin: auto;
  padding-inline: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

/* FAQ Styles */
.faq {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: #dbdee1;
  background-color: #313138;
  padding: 16px;
  border-radius: 8px;
}